<section>
    <div class="login">
        <form class="login__container" [formGroup]="formularyLogin">
            <h1 class="login__container__title">Products inventory</h1>
            <h2 class="login__container__title">Log in</h2>
            <input
                type="username"
                name="username"
                formControlName="username"
                placeholder="Username"
                required="required"
            />
            <input
                type="password"
                id="password"
                formControlName="password"
                placeholder="Password"
                required="required"
                *ngIf="!isPasswordVisible; else textPassword"
            />
            <ng-template #textPassword>
                <input type="text" id="password" formControlName="password">
            </ng-template>
            <button (click)="showPassword()" class="login__container__new--password">Mostrar Contraseña</button>
            <button type="submit" (click)="handleSubmit()" class="login__container__button">Continue</button>
            <div class="login__container__new">
                <h5 class="login__container__new--title">Register now</h5>
                <button type="button" (click)="handleRedirectRegister()" class="login__container__button">Create yout account</button>
            </div>
        </form>
        <div *ngIf="this.errorMessage">
            <p class="error__message">{{this.errorMessage}}</p>
        </div>
            
        
    </div>
</section>
