<section class="update">
    <div class="update__header">
        <div class="update__header__text">
            <h1 class="update__header__text--title">Update product</h1>
            <h3 class="update__header__text--subtitle">Please enter your data</h3>
        </div>
        <button class="update__header__btn" (click)="handleNavigation()">Home</button>
    </div>
    <div>
        <form class="update__form">
            <div class="update__form__container">
                <input type="text" placeholder="Description" [(ngModel)]="description" name="description" class="update__form--input" required>
                <input type="number" placeholder="Price" [(ngModel)]="price" name="price" class="update__form--input" required>
                <input type="text" placeholder="Url image" [(ngModel)]="img" name="img" class="update__form--input" required>
            </div>
            <button class="update__header__btn" (click)="handleSendData()">Update product</button>
            <small *ngIf="this.errorMessage" class="update__header__error">{{this.errorMessage}}</small>
        </form>
    </div>

</section>
