<section class="home">
    <div class="home__header">
        <div class="home__header__text">
            <h1 class="home__header__text--title">Products</h1>
            <h3 class="home__header__text--subtitle">Here is a list of products</h3>
        </div>
        <button class="home__header__btn" (click)="handleCreate()">Add product</button>
    </div>
    
    <div class="home__table">
        <table>
            <tr class="home__table--title">
                <th>Image</th>
                <th>Description</th>
                <th>Price</th>
                <th>Action</th>
            </tr>
            <ng-container *ngFor="let item of productList">
                <tr class="home__table--content">
                    <td>
                        {{item.img}}
                    </td>
                    <td>
                        {{item.descripcion}}
                    </td>
                    <td>
                        {{item.precio}}
                    </td>
                    <td class="home__table__action">
                        <img src="../../assets/icons/edit.svg"  (click)="item.id !== undefined ? handleEdit(item.id) : null">
                        <img src="../../assets/icons/delete.svg" (click)="item.id !== undefined ? handleDelete(item.id) : null">
                    </td>
                </tr>
            </ng-container>
        </table>
        <table>
        </table>
    </div>
</section>

