@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import '../../assets/scss/responsive.scss';
@import '../../assets/scss/colours.scss';
@import '../../assets/scss/fonts.scss';
.home {
    padding: 32px 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    &__header {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        gap: 24px;
        @include desktop_sm {
            justify-content: space-between;
            flex-direction: row;
            align-items: center;
        }
        &__btn {
            width: 160px;
            height: 42px;
            border-radius: 4px;
            background: $blue;
            color: $white;
            text-align: center;
            font-family: $poppins;
            font-size: 13px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            letter-spacing: 0.13px;
            border-style: none;
        }
        &__text {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            &--title {
                color: $black;
                font-family: $poppins;
                @include title_h1;
            }
            &--subtitle {
                color: $black;
                font-family: $poppins;
                @include subtitle_h2;
            }
        }
    }
    &__table {
        display: flex;
        width: 100%;
        box-sizing: border-box;
        flex-direction: column;
        &--title {
            background-color: $gray;
            padding: 10px;
            display: flex;
            align-self: stretch;
            align-items: center;
            justify-content: space-around;
            gap: 10px;
            font-family: $poppins;
            color: $black;
            @include title_table;
        }
        &--content {
            background-color: $white;
            padding: 10px;
            display: flex;
            align-self: stretch;
            align-items: center;
            justify-content: space-around;
            gap: 10px;
            font-family: $poppins;
            color: $black;
            @include content_table;
        }
        &__action {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 8px;
        }
    }
}