<section class="home">
    <div class="home__header">
        <div *ngIf="userData">
            <div class="home__header__data">
                <h3  class="home__header__text--title">Hello {{this.userData.nombre}}</h3>
                <button class="home__header__logout" (click)="logOut()">
                    Log out
                    <svg xmlns="http://www.w3.org/2000/svg" class="home__header__text--subtitle" height="18" viewBox="0 -960 960 960" width="18"><path d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h280v80H200Zm440-160-55-58 102-102H360v-80h327L585-622l55-58 200 200-200 200Z"/></svg>
                </button>
            </div>
            
        </div>
        <div class="home__header__text">
            <h1 class="home__header__text--title">Products</h1>
            <h3 class="home__header__text--subtitle">Here is a list of products</h3>
        </div>
        <ng-container *ngIf="this.userData.nombre === 'admin'">
            <button class="home__header__btn" (click)="handleCreate()">Add product</button>
        </ng-container>
    </div>
    
    <div class="home__table">
        <table class="home__table__container">
            <tr class="home__table--title">
                <th>{{titleImage | uppercase}}</th>
                <th>{{titleDescription | uppercase}}</th>
                <th>{{titlePrice | uppercase}}</th>
                <ng-container *ngIf="this.userData.nombre === 'admin'">
                    <th>{{titleAction | uppercase}}</th>
                </ng-container>
            </tr>
            <ng-container *ngFor="let item of productList">
                <tr class="home__table--content">
                    <td>
                        <img [src]="item.img" alt="product image" class="home__table--img">
                    </td>
                    <td>
                        {{item.descripcion}}
                    </td>
                    <td>
                        {{item.precio}} € + IVA
                    </td>
                    <ng-container *ngIf="this.userData.nombre === 'admin'">
                        <td class="home__table__action">
                            <img src="../../assets/icons/edit.svg"  (click)="item.id !== undefined ? handleEdit(item.id) : null">
                            <img src="../../assets/icons/delete.svg" (click)="item.id !== undefined ? handleDelete(item.id) : null">
                        </td>
                    </ng-container>
                </tr>
            </ng-container>
        </table>
        <table>
        </table>
    </div>
</section>

