<section>
    <div class="register">
        <form class="register__container" method="post">
            <h1 class="register__container__title">Products inventory</h1>
            <h2 class="register__container__title">Register</h2>
            <input
                type="text"
                name="name"
                placeholder="Name"
                required="required"
            />
            <input
                type="text"
                name="username"
                placeholder="Username"
                required="required"
            />
            <input
                type="password"
                name="password"
                placeholder="Password"
                required="required"
            />
            <input
                type="password"
                name="password"
                placeholder="Repeat password"
                required="required"
            />
            <input
                type="email"
                name="email"
                placeholder="Email"
                required="required"
            />
            <button type="submit" (click)="handleRegister()" class="register__container__button">Register</button>
        </form>
    </div>
</section>
