<section>
    <div class="register">
        <form class="register__container" [formGroup]="formularyRegister">
            <h1 class="register__container__title">Products inventory</h1>
            <h2 class="register__container__title">Register</h2>
            <input
                type="text"
                name="name"
                placeholder="Name"
                required="required"
                formControlName="name"
            />
            <input
                type="text"
                name="username"
                placeholder="Username"
                required="required"
                formControlName="username"
            />
            <input
                type="password"
                name="password"
                placeholder="Password"
                required="required"
                formControlName="password"
                *ngIf="!isPasswordVisible; else textPassword"
            />
            <ng-template #textPassword>
                <input type="text" id="password" formControlName="password">
            </ng-template>
            <button class="register__container__new--password" (click)="showPassword()" >Mostrar Contraseña</button>
            <input
                type="password"
                placeholder="Repeat password"
                required="required"
                formControlName="repeatpassword"
            />
            <input
                type="email"
                name="email"
                placeholder="Email"
                required="required"
                formControlName="email"
            />
            <button type="submit" (click)="handleSubmit()" class="register__container__button">Register</button>
        </form>
    </div>
</section>
